<div class="container-cover"><% if (!user){  %>
    <h1 class="welcomeUser">Welcome back!</h1>
<% } else{ %>
    <h1 class="welcomeUser">Hi <%- user %>!</h1>
<% } %>



    <h2 id="h2Shorten">Shorten your URL with just a click</h2>
    <div class="containerform">
    
    <form action="/shortUrls" id="form" method="post">
        <input type="url" name="fullUrl" id="fullUrl" required placeholder="enter url">
    <input id="shortenButton" value="shorten" type="submit">
</form>
</div>
</div>
<div class="tablecontent">
<table class="contentTable" >
    <thead>
        <tr id="tablerow">
            <th>Full Url</th>
            <th>Short Url</th>
            <th>Clicks</th>
            <th>QR codes</th>
        </tr>
    </thead>

    <tbody>
       <% shortUrls.forEach(shortUrl =>{ %>
        <tr>
            <td ><a class="tabledata" href="<%= shortUrl.full %>"><%= shortUrl.full  %></a></td>
            <td ><a class="tabledata" href="<%= shortUrl.short %>">https://scissor1.onrender.com/<%= shortUrl.short %></a></td>
            <td class="tabledata"> <%= shortUrl.clicks %></td>
        </tr>
      <%  }) %>
        
    </tbody>
</table>
</div>