<div class="container-cover"><% if (!user){  %>
    <p class="welcomeUser">Welcome back!</p>
<% } else{ %>
    <p class="welcomeUser">Hi <%- user %>!</p>
<% } %>



    <p id="h2Shorten">Shorten your URL ✂️</br> <span id="note">( Urls must prepend https )</span></p>
    <div class="containerform">
    
    <form action="/shortUrls" id="form" method="post">
        <input type="url" name="fullUrl" id="fullUrl" required placeholder="https://www.mongodb.com/atlas/database">
    <input id="shortenButton" value="shorten" type="submit">
</form>
</div>
</div>
<div class="tablecontent">
<table class="contentTable" >
    <thead>
        <tr id="tablerow">
            <th>Full Urls</th>
            <th>Short Urls</th>
            <th>Clicks</th>
            <th>QR codes</th>
        </tr>
    </thead>

    <tbody>
        <% if(shortUrls.length === 0 ){ %>
            <tr>
                <td class="noUrl" >NO URLs found!</td>
                
            </tr> 
       <% } else{ %>
           <% shortUrls.forEach(shortUrl =>{ %>
        <tr>
            <td ><a class="tabledata" href="<%= shortUrl.full %>"><%= shortUrl.full  %></a></td>
            <td ><a class="tabledata" href="<%= shortUrl.short %>">https://scissor1.onrender.com/<%= shortUrl.short %></a></td>
            <td class="tabledata"> <%= shortUrl.clicks %></td>
        </tr>
      <%  }) %>
      <% } %>
        
    </tbody>
</table>
</div>