<% if (!user){  %>
    <h1 class="welcomeUser">Welcome back!</h1>
<% } else{ %>
    <h1 class="welcomeUser">Hi <%- user %>!</h1>
<% } %>


<div class="shrinkerFormContainer">

<div class="shrinkerFormContainer2">
    <h2 id="h2Shorten">Shorten your URLs</h2>
<form action="/shortUrls" method="post" id="shrinkerForm">
    
<div class="positioning"><input type="url" name="fullUrl" id="fullUrl" required placeholder="enter url">
    <input id="shortenButton" value="shorten" type="submit"></div>
</form>

<table class="contentTable" >
    <thead>
        <tr id="tablerow">
            <th>Full Url</th>
            <th>Short Url</th>
            <th>Clicks</th>
            <th>QR codes</th>
        </tr>
    </thead>

    <tbody>
       <% shortUrls.forEach(shortUrl =>{ %>
        <tr>
            <td width="5px"><a class="tabledata" href="<%= shortUrl.full %>"><%= shortUrl.full  %></a></td>
            <td width="50px"><a class="tabledata" href="<%= shortUrl.short %>">https://scissor1.onrender.com/<%= shortUrl.short %></a></td>
            <td width="100px" class="tabledata"> <%= shortUrl.clicks %></td>
        </tr>
      <%  }) %>
        
    </tbody>
</table>
</div>
</div>